@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,400italic,700,700italic');

li {
  list-style: none;
}

.header {
  border-bottom: 1px solid #E2E8F0;
  position: sticky;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: sticky;
}

.nav-link {
  align-self: center;
  justify-content: center;
}



.nav-menu {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  align-self: center;
}

.nav-item {
  padding: 1em;
  justify-content: center;
  margin:auto;
  justify-self: center;
  color: #FFFFFF;
  font-family: 'Quicksand', sans-serif;

}


@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

@media (max-width: 460px) {
  .nav-item {
    padding: 0.30em;
  }
}

@media (max-width: 370px) {
  .nav-item {
    padding: 0.10em;
  }
}

#copytexticon {
  color: rgb(112, 215, 247) !important;
}


.copybtn {
  background: #eee;
  color: #999;
  font-size: 1.5em;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.copybtn:hover {
  color: #222;
}





.fa-copy:hover {
  cursor: pointer !important;
}

.wrapper {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button {
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  text-align: center;
  text-decoration: none;
  border: 0.3em solid inherit;
  font-size: 20px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.25s ease-in-out;
  position: relative;
  overflow: hidden;
}
.button:before {
  content: "";
  background-color: rgba(255,255,255,0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
  }
.button:hover {
  color: white;
}
.button:hover:before {
  transform: skewX(-45deg) translateX(16em);
  transition: all 0.75s ease-in-out;
  }

.reviewsdiv {
  font-family: inherit;
  color: inherit;
  background-color: #2f3136;
  box-shadow: black 0px 20px 30px -10px;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  text-shadow: 5px 3px 5.5px black;
  border-radius: 15px;
}

.avatar {
  border-radius: 50%;
  width: 35px;
  box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
