@use '~@matteusan/sentro' with ($prefix: 'pyc', $context: 'theme');
@use 'helpers';

@use 'modules/pyc-button';
@use 'modules/pyc-hero';
@use 'modules/pyc-icon';
@use 'modules/pyc-user-card';
@use 'modules/pyc-title-bar';


@use 'infima/overrides';

@import url('https://fonts.googleapis.com/css2?family=Saira:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&display=swap');

:root {
  color-scheme: dark;
  @include sentro.token-config(
    $blurple: (
      'light': #5865f2,
      'default': #8F00FF,
      'dark': #3f17f6,
      'ink': #fff
    ),
    $surface: (
      'light': #33373a,
      'default': #23272a,
      'dark': #17181a,
      'ink': #fff
    ),
    $error: (
      'default': #d93333,
      'ink': #fff
    ),
    $warning: (
      'default': #ffa012,
      'ink': #000
    ),
    $success: (
      'default': #1ea33c,
      'ink': #fff
    ),
    $radius: (
      'small': 0.3rem,
      'medium': 0.5rem,
      'large': 0.7rem
    ),
    $global: (
      'family': ('Outfit', sans-serif),
      'weight': 300,
    ),
    $title: (
      'family': ('Saira', monospace),
      'weight': 700
    ),
    $subtitle: (
      'family': ('Outfit', sans-serif),
      'weight': 700,
    ),
    $code: (
      'family': ('Fira Code', monospace),
      'weight': 400
    ),
    $discord: (
      'font-primary': (Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif),
      'font-display': (Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif),
      'font-code': (
        Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
        "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace),
      'font-headline': (Ginto Nord, Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif)
    )
  );
  --ifm-color-primary: #5865f2;
  --ifm-color-primary-dark: #3949f0;
  --ifm-color-primary-darker: #2a3bee;
  --ifm-color-primary-darkest: #1121d6;
  --ifm-color-primary-light: #7781f4;
  --ifm-color-primary-lighter: #868ff6;
  --ifm-color-primary-lightest: #b4baf9;
}

.betterimage {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.5s ease;
  &:hover {
    transform: translateY(-2px);
    box-shadow: black 0px 5px 15px;
  }
}

.caption {
  text-align: center;
  vertical-align: middle;
  opacity: 50%;
  font-size: 87%;
  font-weight:lighter;
}

p {
  font-size: 1.05rem;
}

html {
  font-family: Whitney;
  font-weight: sentro.token-get('global-weight');
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: inherit;
  
  font-family: inherit;
  font-weight: inherit;
  
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    color: inherit;
    box-sizing: inherit;
  }
}

premium {
  color:#FFB229;
  text-shadow: 2px 2px 10px #FFB229;
  background-color: inherit;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: sentro.token-get('title-family');
  font-weight: sentro.token-get('title-weight');
}

h4,
h5,
h6 {
  margin: 0;
  font-family: sentro.token-get('subtitle-family');
  font-weight: sentro.token-get('subtitle-weight');
}

a {
  margin: 0;
  text-decoration: none;
  color: sentro.token-get('blurple');
  
  &:hover {
    text-decoration: none;
    color: sentro.token-get('blurple-light');
  }
}

.rulenum {
  font-family: ('Saira', monospace);
  font-weight: bold;
  font-size: 107%;
}

code,
code * {
  margin: 0;
  font-family: sentro.token-get('code-family');
}

.nziielogoimg {
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  background-color: sentro.token-get('surface-dark');
  box-sizing: border-box;
}

body {
  background-color: sentro.token-get('surface-dark');
  color: sentro.token-get('surface-ink');
}

#__next {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.content-wrap {
  width: calc(100% - 30px);
  max-width: 1077px;
  margin: 0 auto;
  padding: #{sentro.px-to-rem(81px)} 0 1.5rem 0;
  
  &--home-page {
    width: calc(100% - 30px);
    max-width: 1077px;
    margin: 0 auto;
    padding: 2rem 0 1.5rem 0;
  }
}

.features {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
  .feature {
    margin: 0 0.7rem;
    color: rgba(#b4b4b4, 80%);
    cursor: pointer;
    border-bottom: 3px solid rgba(0 0 0 / 0);
    @include sentro.prefix(transition, all 0.1s ease);
    
    &.active {
      color: #fff;
      border-color: #fff;
    }
    
    &:hover,
    &:focus {
      color: #fff
    }
  }
}

.call-to-action {
  height: 25vh;
  display: grid;
  place-items: center;
  margin: 2.3rem 0;
  text-align: center;
  
  .call-to-action__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  
  @include helpers.breakpoint('medium') {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @include helpers.breakpoint('large') {
    grid-template-columns: repeat(3, 1fr);
  }
}

.blurple-background {
  background-color: #5865f2;
  border-radius: 5px;
  padding: 0.75rem;
  width: 65px;
  transition: all 0.3s ease;
  &:hover, &:focus {
    background-color: sentro.token-get('blurple-light');
    cursor: pointer;
  }
}


div[class^=announcementBar_] {
  border: 1.5px solid rgba(0, 0, 0, 0.459);
  background-color: #292b2f;
  color: whitesmoke;
  button {
    color:#5865f2;
    opacity: 100;
    border-radius: 3px;
  }
}

.emoji {
  -o-object-fit: contain;
  object-fit: contain;
  width: 1.375em;
  height: 1.375em;
  vertical-align: bottom;
}

.emoji.jumboable {
  height: 2.7em;
  width: 2.7em;
}

@font-face {
  font-family: Whitney;
  font-weight: 300;
  src: url(/static/fonts/whitney/whitney300.woff) format('woff');
}

@font-face {
  font-family: Whitney;
  font-weight: 400;
  src: url(/static/fonts/whitney/whitney400.woff) format('woff');
}

@font-face {
  font-family: Whitney;
  font-weight: 500;
  src: url(/static/fonts/whitney/whitney500.woff) format('woff');
}

@font-face {
  font-family: Whitney;
  font-weight: 600;
  src: url(/static/fonts/whitney/whitney600.woff) format('woff');
}

@font-face {
  font-family: Whitney;
  font-weight: 700;
  src: url(/static/fonts/whitney/whitney700.woff) format('woff');
}

.discord-messages {
  font-family: sentro.token-get('discord-font-primary') !important;
  // TODO: Figure out why this is necessary, and remove it.
  //       We Should be able to remove everything below here, but for some reason it doesn't work without it. Also, some
  //       of it hasn't been added to the component package yet anyways so that needs to be done.
  .discord-message {
    .discord-embed-footer {
      color:white;
      font-size: 12px;
    }
    .discord-embed-footer-separator {
      color:white !important;
    }
    .discord-embed-description {
      font-size: 110% !important;
    }
    .discord-embed-field {
      font-size: 110% !important;
    }
    .discord-embed-field-title {
      color:white !important;
      font-weight: bolder;
      font-family: Whitney;
      font-size: 15px;
    }
    .discord-author-info {
      .discord-author-username {
        letter-spacing: unset;
        cursor: pointer;
      }
      &:not(.discord-interaction-author-info) .discord-author-username:hover {
        text-decoration: underline;
      }
      .discord-author-bot-tag {
        font-weight: 500;

      }
    }
    .discord-interaction {
      .discord-interaction-reply {
        cursor: pointer;
      }
      .discord-interaction-command {
        cursor: default;
        .discord-interaction-command-name {
          font-weight: 500;
          cursor: pointer;
        }
      }
      .discord-interaction-context-menu {
        .discord-interaction-command-name {
          cursor: unset;
        }
        .discord-interaction-command-name:hover {
          text-decoration: unset;
          opacity: 0.65;
        }
      }
    }
    .discord-message-timestamp {
      font-weight: 500;
      cursor: default;
    }
    .discord-buttons .discord-button {
      font-family: inherit;
    }
    font-weight: 400;
  }
}

.user-card {
  background-color:#23272a;
  padding: 1rem 1rem 1rem 1rem;
  width: 25.75rem;
  box-shadow: black 0px 5px 20px;
  border-radius: 9px;
}

.user-card .wrap {
  display: grid;
  grid-area: auto;
  grid-gap: 0.7rem;
}

details.customdetails {
  --docusaurus-details-decoration-color: #5865f2;
  background-color: inherit;
  border-color: #7781f4;
}

.user-card img {
  border-radius: 50%;
  width: 80px;
  display: grid;
  border: 2px solid #5865f2;
  background-color: #5865f2;
  grid-row: 1;
  transition: all 0.3s ease;
  &:hover, &:focus {
    border-color: #909aff;
    background-color: #909aff;
  }


}

.user-card .title {
  font-family: ('Saira', monospace);
  padding-top: 0.7rem;
  grid-row: 2;
}

.user-card .text {
  grid-row: 3;
}

p a {
  color: #1c97da;
  text-shadow: none;
  display: inline-block;
  position: relative;
  &:hover {
    color: #1c97da
  }
  &::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: 
    #1c97da;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

}

.discord-link {
  color: #1c97da;
  text-shadow: none;
  display: inline-block;
  position: relative;
  &:hover {
    color: #1c97da
  }
  &::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.25px;
    bottom: 0;
    left: 0;
    background-color: 
    #1c97da;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

}

.mention {
  background: #414675;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 3px;
  transition: all 0.15s ease;
  font-weight:500;
  &:hover {
    background:#5865f2;
  }
}

.timestamp {
  background: #42464d;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 3px;
}

.box {
  display: inline-block;
  font-family: Whitney;
  border: 1.80px solid rgba(0, 0, 0, 0.589);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgba(41,43,47,255);
  border-radius: 5px;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
  font-size: 98%;
  .title {
    font-family: ('Saira', monospace);
    font-size: 1.20rem;
  }
  // &:hover {
  //   transform: translateY(-2px);
  //   box-shadow: black 0px 5px 15px;
  // }
}

.box.no-background {
  background-color: inherit;
}

.box.animation {
  transition: all 0.5s ease;
  &:hover {
    transform: translateY(-2px);
    box-shadow: black 0px 5px 15px;
  }
}

.box.shadow {
  box-shadow: black 0px 5px 15px;
}

.box.blurple {
  border: 1.75px solid #5865f2;
}

.box.red {
  border: 1.75px solid #e74c3c;
}

.box.green {
  border: 1.75px solid #2ecc71;
}

.box.yellow {
  border: 1.75px solid #fee65c;
}

.box.blue {
  border: 1.75px solid #1c97da;
}

@font-face{font-family:Ginto;font-weight:300;src:url(/static/fonts/ginto/ginto300.woff) format("woff")}
@font-face{font-family:Ginto;font-weight:400;src:url(/static/fonts/ginto/ginto400.woff) format("woff")}
@font-face{font-family:Ginto;font-weight:500;src:url(/static/fonts/ginto/ginto500.woff) format("woff")}
@font-face{font-family:Ginto;font-weight:600;src:url(/static/fonts/ginto/ginto600.woff) format("woff")}
@font-face{font-family:Ginto;font-weight:700;src:url(/static/fonts/ginto/ginto700.woff) format("woff")}
@font-face{font-family:Ginto;font-weight:300;font-style:italic;src:url(/static/fonts/ginto/ginto-italic300.woff) format("woff")}
@font-face{font-family:Ginto;font-weight:400;font-style:italic;src:url(/static/fonts/ginto/ginto-italic400.woff) format("woff")}
@font-face{font-family:Ginto;font-weight:500;font-style:italic;src:url(/static/fonts/ginto/ginto-italic500.woff) format("woff")}
@font-face{font-family:Ginto;font-weight:600;font-style:italic;src:url(/static/fonts/ginto/ginto-italic600.woff) format("woff")}
@font-face{font-family:Ginto;font-weight:700;font-style:italic;src:url(/static/fonts/ginto/ginto-italic700.woff) format("woff")}
@font-face{font-family:Ginto Nord;font-weight:500;src:url(/static/fonts/ginto-nord/ginto-nord500.woff2) format("woff2"),url(/static/fonts/ginto-nord/ginto-nord500.woff) format("woff")}
@font-face{font-family:Ginto Nord;font-weight:600;src:url(/static/fonts/ginto-nord/ginto-nord600.woff2) format("woff2"),url(/static/fonts/ginto-nord/ginto-nord600.woff) format("woff")}
@font-face{font-family:Ginto Nord;font-weight:700;src:url(/static/fonts/ginto-nord/ginto-nord700.woff2) format("woff2"),url(/static/fonts/ginto-nord/ginto-nord700.woff) format("woff")}


@include overrides.init();

@include pyc-button.init();
@include pyc-hero.init();
@include pyc-icon.init();
@include pyc-user-card.init();
@include pyc-title-bar.init();
